<launch>

  <include file="$(find test13_camera)/launch/test13_gazebo_ISCAS_world_capture.launch"/>

  <include file="$(find darknet_ros)/launch/test13_yolov3_left.launch"/>

  <include file="$(find darknet_ros)/launch/test13_yolov3_right.launch"/>

  <!--node name="test13_stereo_depth_handle_node" pkg="test13_camera" type="test13_stereo_depth_handle.py"/-->

</launch>